apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: ghcr.io/yaysin/guestbook-backend:sha-5aa204c8275235f1e5f8314c706dd0dc8b28e846
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: guestbook-config
        env:
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: guestbook-secrets
              key: DB_PASSWORD
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: guestbook-secrets
              key: REDIS_PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
  - port: 8080
    targetPort: 8080
